* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color-scheme: dark;
  font-family: system-ui;
  font-size: 24px;
}
button{
  cursor: pointer;
  border: none;
  background:none;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #089D70;
}
/* :root {

} */
